
.movie-card {
    min-width: 175px;
    min-height: 255px;
    max-width: 175px;
    max-height: 255px;
}

.movie-card-image {
    border-radius: 5px;
}

.movie-scroll-group .list-group-item {
    border: none;
    text-align: center;
}

