
/* Banner image*/
.review-form .banner-img {
    height: 200px;
    width: auto;
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 50%);
 }

/*Review form header*/
.review-form h2 {
    margin-bottom: 30px;
}

/*Review form movie poster*/
.review-form  .movie-poster {
    padding-left: none;
    border-radius: 10px;
    box-shadow: 5px 3px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.review-form .movie-poster:hover {
    transition: transform 0.4s ease;
    /* min-width: 190px; */
    transform: scale(1.01);
    /* min-height: 255px; */
    /* max-width: 180px;
    max-height: 255px;; */
    
  }


/*Review form buttons */
.review-form .btn {
    padding: 12px;
    border-radius: 20px;
    box-shadow: 5px 3px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.review-form .btn:hover {
    transition: transform 0.4s ease;
    /* min-width: 190px; */
    transform: scale(1.03);
}

/*Review container*/
.review-container {
    max-width: 900px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 3px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.review-container textarea {
    min-height: 300px;
}

.review-inputs{
    width:300px;
    height:50px;
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 25px;
}

.error-message{
    color:red;
}

.edit-form .btn-danger {
    background-color: rgb(168, 20, 20);
}

.review-modal{
    vertical-align: middle;
    width:500px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
